/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require twitter/bootstrap/_responsive
 *= require_self
 *= require_tree .
 */

body{
	padding-top: 60px;
}

.black-transparent-box {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.black-transparent-box label{
	color: #555;
}

.black-transparent-box li.active > a{
	background-color: rgba(245,245,245,.93)
}

.black-transparent-box li > a{
	color: #E0F2F7;
}

.black-transparent-box li > a:hover{
	color: black;
}


.grey-box {
  background: rgba(245, 245, 245, .93);
  color: black;
  padding: 20px;
}

.root {
	margin-top: 30px;
}
.well{
	color: #000;
}

.display-name {
	font-size: 20px;
}

.text-message {
	font-size: 15px;
	color: #333;
}

.light {
	font-size: 11px;
	color: #AAA;
}

.avatar{
	height: 20px;
	margin-right: 1px;
	margin-top: 0px;
}